// Variable Overrides that will be used by bootstrap CSS
$theme-colors: (
  "primary": #f17140,
  "secondary": #fec506,
);

$navbar-dark-toggler-border-color:#343a40;
$navbar-dark-color: #343a40;
$navbar-dark-hover-color: var(--primary);
$navbar-dark-active-color: var(--primary);

$navbar-padding-y: 0.5rem;

$hr-border-color: var(--secondary);
$hr-margin-y: 0.75rem;

$jumbotron-padding:                 .5rem;

$modal-header-padding-y:            .5rem;
$modal-header-padding-x:            .5rem;

$modal-inner-padding:               .5rem;

@import "node_modules/bootstrap/scss/bootstrap";

//OVERRIDE Bootstrap

.fa-facebook-square {
  font-size: 2em;
}

html {
  overflow-y: scroll; 
}

.navbar {
  background-color: gray("100");
}

.container {
  max-width: 960px;
}

.jumbotron {
  background-color: gray("100");
}

footer a{
  color: gray("600");
}