<table>
    <tr>
        <td style="padding-right: 20px; padding-left: 20px;">
            <a target="_blank" href="https://fastheating.be"><img src="https://www.fastheating.be/assets/email/small/header.png"></a>
        </td>
        <td>
            <div style="border-left:1px solid #fec506;height:50px"></div>
        </td>
        <td style="padding-right: 20px; padding-left: 20px;">
            <table>
                <tr>
                    <td><b><span style="font-size: larger;">Dom Danny</span></b></td>
                </tr>
                <tr>
                    <td>Zaakvoerder</td>
                </tr>
                <tr>
                    <td>Fast Heating BVBA</td>
                </tr>
            </table>
        </td>
        <td>
            <div style="border-left:1px solid #fec506;height:50px"></div>
        </td>
        <td style="padding-right: 20px; padding-left: 20px;">
            <table>
                <tr>
                    <td>
                        <img src="https://www.fastheating.be/assets/email/small/phone.png" />
                    </td>
                    <td>
                        <a href="tel:0477 70 60 40" style="color: black; text-decoration: none;">0477 70 60 40</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://www.fastheating.be/assets/email/small/mail.png" />
                    </td>
                    <td>
                        <a href="mailto:fastheating@skynet.be"
                            style="color: black; text-decoration: none;">fastheating@skynet.be</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://www.fastheating.be/assets/email/small/link.png" />
                    </td>
                    <td>
                        <a target="_blank" href="https://fastheating.be"
                            style="color: black; text-decoration: none;">www.fastheating.be</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://www.fastheating.be/assets/email/small/location.png" />
                    </td>
                    <td>
                        <a target="_blank" href="https://goo.gl/maps/nsFyPngZ7zXTPuJV6"
                            style="color: black; text-decoration: none;">
                            Europalaan 31 2620 Hemiksem
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 20px">
                        <a target="_blank" href="https://www.facebook.com/fastheating.dannydom.5">
                            <img src="https://www.fastheating.be/assets/email/small/facebook.png" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- Used font awsome SVG's. Link to license: https://fontawesome.com/license. Only size and color changes made. -->