<style>
    .header{
        margin-left: 5px;
        margin-top: 5px; 
        margin-bottom: 5px; 
        font-family: Arial, Helvetica, sans-serif;
    }

    td{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
    }
</style>
<table>
    <tr>
        <td style="padding-right: 5px; padding-left: 5px;">
            <a target="_blank" href="https://fastheating.be"><img src="https://fastheating.be/assets/common/header.png"
                    height="60%"></a>
        </td>
        <td>
            <div style="border-left:1px solid #fec506;height:100px"></div>
        </td>
        <td>
            <table>
                <tr>
                    <td colspan="4">
                        <h1 class="header">Factuur</h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding-right: 5px; padding-left: 5px;">
                        <table>
                            <tr>
                                <td>Ondernemingsnr.</td>
                                <td>0869.704.770</td>
                            </tr>
                            <tr>
                                <td>KBC</td>
                                <td>BE53 7350 1011 3953</td>
                            </tr>
                            <tr>
                                <td>BNP</td>
                                <td>BE52 0016 5683 8509</td>
                            </tr>
                            <tr>
                                <td>RPR Antwerpen</td>
                                <td>Reg 02 2500</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div style="border-left:1px solid #fec506;height:80px"></div>
                    </td>
                    <td style="padding-right: 5px; padding-left: 5px;">
                        <table>
                            <tr>
                                <td>
                                    <img src="https://fastheating.be/assets/email/location.png" style="height: 3%;" />
                                </td>
                                <td>
                                    <a target="_blank" href="https://goo.gl/maps/nsFyPngZ7zXTPuJV6"
                                        style="color: black; text-decoration: none;">
                                        Europalaan 31 2620 Hemiksem
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://fastheating.be/assets/email/phone.png" style="height: 3%;" />
                                </td>
                                <td>
                                    <a href="tel:0477 70 60 40" style="color: black; text-decoration: none;">0477 70 60 40</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://fastheating.be/assets/email/mail.png" style="height: 3%;" />
                                </td>
                                <td>
                                    <a href="mailto:fastheating@skynet.be"
                                        style="color: black; text-decoration: none;">fastheating@skynet.be</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://fastheating.be/assets//email/link.png" style="height: 3%;" />
                                </td>
                                <td>
                                    <a target="_blank" href="https://fastheating.be"
                                        style="color: black; text-decoration: none;">www.fastheating.be</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <hr style="height:0.5px;border-width:0;color:#fec506;;background-color:#fec506;">
        </td>
    </tr>
</table>
<!-- Used font awsome SVG's. Link to license: https://fontawesome.com/license. Only size and color changes made. -->